$black: #080808;
$background: #EEEEEE;

.left {
  left: 0;
}

.right {
  right: 0;
}

.centered img {
  width: 150px;
  border-radius: 50%;
}

.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 15%;
    font-size: 1.8rem;
}

html {
    font-family: 'Cantarell';
    background-color: $background;
    color: $black;
}

header {
    color: #9477CB;
    position: absolute;
    padding-top: 1%;
    width: 100%;
    top: 0;
    left: 0;

    .container {
        font-size: 1.5rem;
        li {
            display: inline-block;
        }
    }
}

footer {
    color: #898989;
    margin-top: 2rem;
    text-align: center;
    font-size: 0.8rem;
}

main {
    display: block;
    margin: 6rem auto 0 auto;
    max-width: 900px;
    line-height: 1.45;
    overflow-wrap: break-word;

    h1 {
        font-size: 3rem;
    }
}

article {
    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    font-size: 1.1rem;
}

body {
    margin: 0.75em 0;
    padding: 0.5em;
    font-size: 17px;

    table {
        margin: 0 auto 0 auto;
    }
}
