<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes"/>
  {{ $style := resources.Get "intangiblesite.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
  <link rel="stylesheet" href="{{ $style.RelPermalink }}">
  <link rel="stylesheet" href="/katex.min.css"/>
  <script defer src="/katex.min.js"></script>
  <script defer src="/auto-render.min.js" onload="renderMathInElement(document.body);"></script>
</head>

<header>
  <div class="container">
    <nav>
      <ul>
        <a href="/about/">About</a></li>
        <a href="/contact">Contact</a></li>
        <a href="/keys/">Keys</a></li>
      </ul>
    </nav>
  </div>
</header>
